@{
    ViewData["Title"] = "ECommerce";
}

<div class="text-center">
    <h1 class="display-4">Home of ECommerce</h1>
</div>

<div class="card align-content-center" style="width: 50%; margin: auto;">
    <img src="..." class="card-img-top" alt="Alternative text here!" />
    <div class="card-body">
        <h5 class="card-title">Mainmenu</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-lg btn-primary" aria-current="page" asp-controller="Products" asp-action="ProductDetails">Artikel</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-lg btn-primary" aria-current="page" asp-controller="Customers" asp-action="CustomerDetails">Kunden</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-lg btn-primary" aria-current="page" asp-controller="Orders" asp-action="OrderDetails">Bestellungen</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-lg btn-primary" aria-current="page" asp-controller="Configurations" asp-action="Configuration">Einstellungen</a>
            </li>
        </ul>
    </div>
</div>