<form asp-controller="Products" asp-action="CreateProductImage" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5>Bilder</h5>
        </div>

        <div class="card-body">
            <img alt="Bild"/>

            <div class="mb-3">
                <label>Bild</label>
                <input class="form-control-file" name="file" type="file">
            </div>
            
            <!--div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div-->
            <button class="btn btn-primary" type="submit" style="float: right;">Save changes</button>
        </div>
    </div>
</form>