@model Product

@{
    ViewData["Title"] = "Artikel";

}

<form asp-controller="Products" asp-action="CreateEditProduct">
    <div class="card">
        <div class="card-header">
            <h5>Artikeldetails</h5>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label class="form-label">Artikelnummer</label>
                    <input class="form-control form-control-sm" type="text" asp-for="ProductNumber" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Artikelbezeichnung</label>
                    <input class="form-control form-control-sm" type="text" asp-for="Description" />
                </div>
                <div class="col">
                    <label class="form-label">Artikelbezeichnung 2</label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description2" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label class="form-label">Hersteller</label>
                    <input class="form-control form-control-sm" type="text" asp-for="Manufacturer" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Herstellernummer</label>
                    <input type="text" class="form-control form-control-sm" asp-for="ManufacturerNumber" />
                </div>
                <div class="col">
                    <label class="form-label">EAN</label>
                    <input type="text" class="form-control form-control-sm" asp-for="EAN" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label class="form-label">Warengruppe</label>
                    <input class="form-control form-control-sm" type="text" asp-for="ClassificationSchemeGroup" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Productbeschreibung</label>
                    <textarea rows="6" class="form-control form-control-sm" asp-for="DescriptionLong"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" style="float: right;">Save changes</button>
        </div>

    </div>
</form>
 
<br />

<partial name="_ProductPrices" />

<br />

<partial name="_ProductImages" />