@model Customer

@{
    ViewData["Title"] = "Kunde";
}

<form asp-controller="Customer" asp-action="CustomerDetails">
    <div class="card">
        <div class="card-header">
            <h5>Kunde</h5>
        </div>

        <div class="card-body">
            <div class="row">
            <div class="col">
                <label class="form-label">Vorname</label>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm" type="text" asp-for="FirstName" placeholder="" />
                </div>
            </div>
            <div class="col">
                <label class="form-label">Nachname</label>
                <div class="col-sm-3">
                    <input class="form-control form-control-sm" type="text" asp-for="LastName" placeholder="" />
                </div>
            </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Speichern</button>
        </div>
    </div>
</form>